* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9E8E74;
}

header {
    background-image: url(../images/roger-erdvig-GPDqaWEsTxU-unsplash.jpg);
    background-size: cover;
    background-position: center;
    border-bottom: 2px solid green;
}


header h1{
    text-align: center;
}

.wanderLogo {
  width: 20%; 
  margin-top: 10px;
  margin-bottom: 30px;
  margin-right: 90px;
}

header nav ul, #endNavUl {
    display: flex;
    justify-content: center;
    text-align: center;
    list-style: none;
    flex-wrap: wrap;  
}

header nav ul li a, #endNavLi {
    padding: 10px 10px;
    font-size: 20px;
    color: white; 
    text-align: center;
}

#endNavLiA {
    list-style: none;
    color: white;
}

#endNavLiA:hover{
    color:blue;
}

footer {
    width: 100%;
    padding: 40px 35px;
    background-color: green;
    bottom: 0;
    height: 40px;
    background-image: url(../images/roger-erdvig-GPDqaWEsTxU-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    color: white;
    text-align: center;
}

/*Search box styles*/

.search-container {
    border: 1px solid black;
    padding: 20px;
}

.search-result {
    text-align: center;
    border-left: 2px solid darkgreen;
}

#search-form {
    text-align: center;
    margin: 10px;
    /* text-shadow: 0px 0px 3px rgb(73, 70, 70), 0 0 5px rgb(0, 255, 0); */
    color: rgb(1, 41, 7);
    text-shadow: 0px 0px 3px rgb(73, 70, 70);
    text-decoration: underline; 
} 

.search-box {
    text-align: center;
    width: 70%;
    margin: auto;
    border-radius: 20px;
}

.search-btn {
    border: 1px solid black;
    width: 30%;
    height: 2rem;
    border-radius: 20px;
    background-color: rgb(16, 49, 16);
    color: white;
}

.search-btn:hover {
    background-color: rgb(4, 4, 238);
}

#searchTitle {
    text-shadow: 0px 0px 3px rgb(73, 70, 70);
    text-decoration: underline;
    color: rgb(1, 41, 7);
    text-align: center;
}


/*/* National Parks */
.natImg {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 40px; 
    /* margin-left: 20px;  */
    border-radius: 25%; 
}

.campText {
    font-size: .9vw;
    font-weight: bold;
    margin-top: 40px;
    text-align: center;
}

.campAdd {
    font-size: .7vw;
    font-weight: bold;
}

/*forecast Display Starts */

#weather-forecast {
    margin-top: 60px;
    text-decoration: underline;
    font-weight: bold;
    color: rgb(1, 41, 7);
    text-align: center;
    text-shadow: 0px 0px 3px rgb(73, 70, 70);
    font-size: 2vw;
    background-color: rgb(17 180 37 / 30%);
    border-color: 1px solid green;
    border-radius: 2em;
    /* margin: auto; */
}

#date1, #date2, #date3, #date4, #date5 {
    text-decoration: underline;
    font-weight: bold;
}

.card-divider {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
}

.dateForecast {
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    border-radius: 15px 50px;
    background-color: rgb(197, 214, 197);
    box-shadow: 20px 20px 10px black;
    width: auto;
}

.icon {
    width: 120px;
}

.favorable {
    background-color: green;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: red;
}

.button {
    border-radius: 12px; 
    width: 150px;
    height: 40px;
    background: rgb(16, 49, 16);
    transition: width 1s;
    margin-left: 10px;
}

.button:hover {
    width: 200px;
    background-color: rgb(4, 4, 238);
  }

#deleteSearches {
    margin-left: 20%;
    margin-top: 5px;
    width: 60%;
    justify-content: center;
    height: 35px;
    background-color: #9E8E74;
    border: 2px solid  rgb(16, 49, 16);
    transition: width 1s;
    margin-top: 5px; 
}

#deleteSearches:hover {
    /* width: 25%; */
    background: red;
}

.weather-divider{
    background-image: url(../images/rocks.jpg);
}


